.parallax {
    /* height: 100vh;
    background-image: url(../../assets/ban1.JPG);
    background-attachment: fixed; 
    background-size:cover;
    background-position:center; */
    height: 100vh;
    background-attachment: fixed; 
    background-size: contain;
    background-position: center;
    background: linear-gradient(to top, #010102, transparent), url(../../assets/ban1.JPG) no-repeat 100% 100%/cover;
  }

  @media (max-width: 768px) {
    .parallax {
       
      height: 30vh;
    background-image: url(../../assets/ban1.JPG);
    background-attachment:none; 
    background-size:contain;
    background-position: center;
    }
  }